# 1) Byte-compiled & CPython extensions
__pycache__/
*.py[cod]
**/*.pyc
*$py.class

# 2) Virtual envs
venv*/
env/
.venv/

# 3) SQLite DB
*.sqlite3
db.sqlite3

# 4) Media: only include watermarks
media/*
!media/watermarks/
!media/watermarks/**

# 5) Static collect
staticfiles/

# 6) Envs & secrets
.env
*.env
local_settings.py

# 7) IDEs / Editors
.vscode/
.idea/
*.swp
*~

# 8) Logs
*.log

# 9) Packaging
build/
dist/
*.egg-info/
